# Working with Tweets

In this notebook, we will delve into the analysis of tweet contents.

We consider the dataset of tweets from Elon Musk, SpaceX and Tesla founder, and ask the following questions:
* What is Elon most actively tweeting about?
* Who is Elon most frequently referring to?

We will explore how to work with the contents of tweets.

In [14]:
# imports

import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Let's get some basics (or a refresher) of working with texts in Python. Texts are sequences of discrete symbols (words or, more generically, tokens).

## Import the dataset

> More info on how to harvest tweets automatically, see Notebook 6. 

Let us import the Elon Musk's tweets dataset in memory.

<img src="images/elon_loop.jpeg" width="400px" heigth="400px">

In [15]:
# Import the dataset using Pandas, and create a data frame

file_path = 'data/elonmusk_tweets.csv'

df_elon = pd.read_csv(file_path, encoding="utf-8")

In [16]:
df_elon.head(10)

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,And so the robots spared humanity ... https://...
1,848988730585096192,2017-04-03 20:01:01,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...
2,848943072423497728,2017-04-03 16:59:35,"@waltmossberg @mims @defcon_5 Et tu, Walt?"
3,848935705057280001,2017-04-03 16:30:19,Stormy weather in Shortville ...
4,848416049573658624,2017-04-02 06:05:23,@DaveLeeBBC @verge Coal is dying due to nat ga...
5,848415731502923777,2017-04-02 06:04:07,@Lexxxzis It's just a helicopter in helicopter...
6,848415356263702528,2017-04-02 06:02:38,@verge It won't matter
7,848398971139629057,2017-04-02 04:57:31,@SuperCoolCube Pretty good
8,848244577521647616,2017-04-01 18:44:01,Why did we waste so much time developing silly...
9,848243350993895424,2017-04-01 18:39:09,Technology breakthrough: turns out chemtrails ...

In [17]:
df_elon.tail(5)

,id,created_at,text
2814,142881284019060736,2011-12-03 08:22:07,That was a total non sequitur btw
2815,142880871391838208,2011-12-03 08:20:28,"Great Voltaire quote, arguably better than Twa..."
2816,142188458125963264,2011-12-01 10:29:04,I made the volume on the Model S http://t.co/w...
2817,142179928203460608,2011-12-01 09:55:11,Went to Iceland on Sat to ride bumper cars on ...
2818,15434727182,2010-06-04 18:31:57,"Please ignore prior tweets, as that was someon..."

In [18]:
df_elon.shape  # (number of rows, number of columns)

(2819, 3)

In [19]:
tweets = df_elon["text"]
tweets_list = list(tweets)  # convert to Python list

for tweet in tweets_list[:10]:
    print(tweet)

And so the robots spared humanity ... https://t.co/v7JUJQWfCv
@ForIn2020 @waltmossberg @mims @defcon_5 Exactly. Tesla is absurdly overvalued if based on the past, but that's irr… https://t.co/qQcTqkzgMl
@waltmossberg @mims @defcon_5 Et tu, Walt?
Stormy weather in Shortville ...
@DaveLeeBBC @verge Coal is dying due to nat gas fracking. It's basically dead.
@Lexxxzis It's just a helicopter in helicopter's clothing
@verge It won't matter
@SuperCoolCube Pretty good
Why did we waste so much time developing silly rockets? Damn you, aliens! So obtuse! You have all this crazy tech, but can't speak English!?
Technology breakthrough: turns out chemtrails are actually a message from time-traveling aliens describing the secret of teleportation

## Working with tweet contents

In [20]:
# import some of the most popular libraries for NLP in Python
import nltk
import string
# import sklearn # for machine learning

> If it is the first time you run nltk, it could be that you have to download its materials first. You only have to do this once. The error tells you which package needs to be downloaded.

In [21]:
# For instance, run this once:
# nltk.download('punkt')

A typical NLP pipeline might look like the following:
    
<img src="images/spacy_pipeline.png" width="600px" heigth="600px">

* Tokenization: split a text into tokens.
* Filtering: remove some of the tokens if not needed (e.g., punctuation). If and how to remove is task dependent.
* Tagger, parser: syntactic structure.
* NER (Named Entity Recognition): find named entities.
* ...

More on this can be found in Notebook 7.

### Tokenization: splitting a text into constituent tokens.
A tokenizer takes a string and outputs a list of tokens.

In [22]:
# NLTK provides us with a tokenizers for tweets

from nltk.tokenize import TweetTokenizer, word_tokenize

tokenizer = TweetTokenizer(preserve_case=True, reduce_len=False, strip_handles=False)

In [23]:
example_tweet = df_elon.text[1]
print(example_tweet)

@ForIn2020 @waltmossberg @mims @defcon_5 Exactly. Tesla is absurdly overvalued if based on the past, but that's irr… https://t.co/qQcTqkzgMl

We compare here two tokenizers: one for general English texts, and one specialized for tweets.

In [24]:
# This one was defined above and is the 'TweetTokenizer'
result1 = tokenizer.tokenize(example_tweet)
print(result1)

print("\n======\n")

# This is a 'normal' tokenizer
result2 = word_tokenize(example_tweet)
print(result2)

['@ForIn2020', '@waltmossberg', '@mims', '@defcon_5', 'Exactly', '.', 'Tesla', 'is', 'absurdly', 'overvalued', 'if', 'based', 'on', 'the', 'past', ',', 'but', "that's", 'irr', '…', 'https://t.co/qQcTqkzgMl']

======

['@', 'ForIn2020', '@', 'waltmossberg', '@', 'mims', '@', 'defcon_5', 'Exactly', '.', 'Tesla', 'is', 'absurdly', 'overvalued', 'if', 'based', 'on', 'the', 'past', ',', 'but', 'that', "'s", 'irr…', 'https', ':', '//t.co/qQcTqkzgMl']

**Question**: can you spot what the Twitter tokenizer is doing instead of a standard one?

### Filtering unnecessary tokens

In [25]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [26]:
# Some more pre-processing

tokenizer = TweetTokenizer(preserve_case=True, reduce_len=False, strip_handles=False)

def filter_tweet(tokens):
    """
    Normalize a tweet's text by removing punctuation tokens and URls.
    
    Args:
        tokens (list): List of tokens from a tokenizer
        
    Returns:
        list: List of non-punctuation and URL tokens
    """
    normalized = []
    
    for token in tokens:
        if token in string.punctuation:
            continue
        elif len(token) <= 3:
            continue
        elif token.startswith(('http', 'www')):
            continue
        else:
            normalized.append(token)
  
    return normalized

def tokenize_tweet(tweet, tokenizer=tokenizer):
    
    # This gives a list of tokens
    tokens = tokenizer.tokenize(tweet)
    filtered_tokens = filter_tweet(tokens)
    
    # This returns it back to a string
    normalized_tweet = " ".join(filtered_tokens)
    
    return normalized_tweet

In [27]:
print(result1)  # recall from some cells above
print("======")
print(filter_tweet(result1))  # the result of our normalization function

['@ForIn2020', '@waltmossberg', '@mims', '@defcon_5', 'Exactly', '.', 'Tesla', 'is', 'absurdly', 'overvalued', 'if', 'based', 'on', 'the', 'past', ',', 'but', "that's", 'irr', '…', 'https://t.co/qQcTqkzgMl']
======
['@ForIn2020', '@waltmossberg', '@mims', '@defcon_5', 'Exactly', 'Tesla', 'absurdly', 'overvalued', 'based', 'past', "that's"]

Now, add a column with a normalized version of the `text` column. 

Let's call it `clean_text`. We get this by applying (using Pandas' `.apply()` method) our just written function on every value of the column.

In [28]:
df_elon["clean_text"] = df_elon["text"].apply(tokenize_tweet)

In [29]:
df_elon.head(5)

,id,created_at,text,clean_text
0,849636868052275200,2017-04-05 14:56:29,And so the robots spared humanity ... https://...,robots spared humanity
1,848988730585096192,2017-04-03 20:01:01,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...
2,848943072423497728,2017-04-03 16:59:35,"@waltmossberg @mims @defcon_5 Et tu, Walt?",@waltmossberg @mims @defcon_5 Walt
3,848935705057280001,2017-04-03 16:30:19,Stormy weather in Shortville ...,Stormy weather Shortville
4,848416049573658624,2017-04-02 06:05:23,@DaveLeeBBC @verge Coal is dying due to nat ga...,@DaveLeeBBC @verge Coal dying fracking It's ba...

In [17]:
# Save cleaned up version

# df_elon.to_csv("stuff/df_elon.csv", index=False)

### Building a dictionary with token occurrences

We want to build a dictionary of unique tokens, containing the number of times they appear in the corpus.

In [30]:
from collections import Counter

all_tokens = []  # empty list

for tweet in df_elon["clean_text"]:
    all_tokens += tweet.split()

In [31]:
all_tokens[:10]

['robots',
 'spared',
 'humanity',
 '@ForIn2020',
 '@waltmossberg',
 '@mims',
 '@defcon_5',
 'Exactly',
 'Tesla',
 'absurdly']

In [35]:
counter = Counter(all_tokens)

In [39]:
counter["robots"]

3

#### Quiz

* Find the tokens most used by Elon.
* Find the Twitter users most referred to by Elon (hint: use the @ handler to spot them).

In [43]:
# Your code here
import collections

def counting_words_list(list, print_year):
    word_count = collections.Counter(list)
    top_10_words = word_count.most_common(10)
    print('TOP 10 MOST FREQUENT WORDS')
    print(f"Top 10 most frequently used words in {print_year}:")
    print('Occurrences: word')
    for word, count in top_10_words:
        print(f"{count}: {word}")
    print()
    return word_count

counting_words_list(counter, 'YES')

TOP 10 MOST FREQUENT WORDS
Top 10 most frequently used words in YES:
Occurrences: word
322: Tesla
237: Model
223: that
218: will
177: with
169: @SpaceX
163: from
159: this
149: @TeslaMotors
124: launch

Counter({'robots': 3,
         'spared': 1,
         'humanity': 12,
         '@ForIn2020': 3,
         '@waltmossberg': 4,
         '@mims': 2,
         '@defcon_5': 2,
         'Exactly': 20,
         'Tesla': 322,
         'absurdly': 1,
         'overvalued': 1,
         'based': 6,
         'past': 5,
         "that's": 22,
         'Walt': 1,
         'Stormy': 1,
         'weather': 15,
         'Shortville': 2,
         '@DaveLeeBBC': 1,
         '@verge': 9,
         'Coal': 1,
         'dying': 2,
         'fracking': 1,
         "It's": 26,
         'basically': 5,
         'dead': 7,
         '@Lexxxzis': 1,
         'just': 97,
         'helicopter': 2,
         "helicopter's": 1,
         'clothing': 1,
         "won't": 15,
         'matter': 9,
         '@SuperCoolCube': 1,
         'Pretty': 2,
         'good': 101,
         'waste': 1,
         'much': 48,
         'time': 72,
         'developing': 4,
         'silly': 3,
         'rockets': 9,
         'Damn': 3,
         'aliens': 7,
         'obtuse': 1,
         'have': 88,
         'this': 159,
         'crazy': 12,
         'tech': 8,
         "can't": 13,
         'speak': 2,
         'English': 2,
         'Technology': 3,
         'breakthrough': 3,
         'turns': 2,
         'chemtrails': 1,
         'actually': 35,
         'message': 4,
         'from': 163,
         'time-traveling': 1,
         'describing': 2,
         'secret': 4,
         'teleportation': 1,
         '@OpenAI': 11,
         "We've": 4,
         'created': 8,
         "world's": 20,
         'first': 65,
         'Spam-detecting': 1,
         'trained': 1,
         'entirely': 4,
         'simulation': 3,
         'deployed': 13,
         'physical': 4,
         'robot': 3,
         '@ProfBrianCox': 1,
         'This': 59,
         'extremely': 5,
         'important': 18,
         '@elonmusk': 85,
         '@SpaceX': 169,
         'reusable': 7,
         'bring': 12,
         'MUCH': 1,
         'closer': 5,
         'becoming': 3,
         'spacefaring': 1,
         '@adamsbj': 1,
         'P100D': 7,
         'with': 177,
         'Ludicrous': 7,
         'although': 3,
         'rocket': 110,
         'starts': 5,
         'going': 28,
         'faster': 9,
         'after': 39,
         'that': 223,
         '@BadAstronomer': 11,
         'back': 41,
         'like': 115,
         'Dragon': 87,
         'Just': 65,
         'question': 6,
         'weight': 4,
         'need': 43,
         '@tesla_addict': 1,
         '@TeslaMotors': 149,
         'Working': 8,
         '@jasonlamb': 1,
         'Looks': 17,
         'could': 25,
         'more': 74,
         'some': 41,
         'structural': 2,
         'upgrades': 2,
         'handle': 6,
         'higher': 9,
         'loads': 3,
         'fully': 12,
         'expendable': 3,
         'mode': 6,
         '@cheron': 1,
         '@Cardoso': 3,
         'Silliest': 1,
         'thing': 15,
         'imagine': 3,
         'Secret': 2,
         'payload': 6,
         'flight': 50,
         'giant': 4,
         'wheel': 6,
         'cheese': 4,
         'Inspired': 1,
         '@redletterdave': 5,
         'Good': 38,
         'point': 23,
         'odds': 2,
         'Falcon': 108,
         'Heavy': 14,
         'test': 54,
         'currently': 4,
         'scheduled': 2,
         'late': 7,
         'summer': 4,
         'Considering': 1,
         'trying': 11,
         'upper': 16,
         'stage': 44,
         'demo': 6,
         'full': 22,
         'reusability': 3,
         'Odds': 3,
         'success': 5,
         'maybe': 19,
         'worth': 10,
         'shot': 8,
         '@oxfordteddy': 1,
         'Browser': 1,
         'already': 23,
         'little': 15,
         'better': 39,
         'Kernel': 1,
         'browser': 3,
         'update': 24,
         'prob': 8,
         'weeks': 20,
         'lots': 4,
         'underlyin': 1,
         'More': 15,
         'photos': 6,
         'today': 46,
         'launch': 124,
         'landing': 73,
         'Thanks': 45,
         'Phil': 1,
         'Incredibly': 3,
         'proud': 9,
         'SpaceX': 67,
         'team': 30,
         'achieving': 5,
         'milestone': 3,
         'space': 26,
         'Next': 15,
         'goal': 8,
         'reflight': 4,
         'within': 5,
         'hours': 16,
         'landed': 11,
         'Course': 6,
         'Still': 12,
         'Love': 19,
         'world': 19,
         'orbital': 9,
         'class': 2,
         'minutes': 9,
         'until': 13,
         'window': 12,
         'opens': 12,
         'systems': 16,
         'Watch': 18,
         'here': 23,
         'vertical': 16,
         'Kennedy': 2,
         'Space': 34,
         'Center': 3,
         'historic': 4,
         'Launch': 25,
         '6:27': 1,
         '10:27': 1,
         'Made': 3,
         'sketch': 3,
         'downloaded': 2,
         'center': 15,
         'screen': 5,
         'three': 12,
         'times': 8,
         '@drmanejwala': 1,
         '@arctechinc': 3,
         'Also': 22,
         'will': 218,
         'show': 19,
         'speed': 22,
         'overlay': 2,
         'changes': 4,
         'opacity': 1,
         'according': 2,
         'relevance': 1,
         '@danahull': 8,
         'Very': 9,
         'China': 12,
         'Europe': 9,
         'Model': 237,
         '@business': 6,
         'Glad': 4,
         'Tencent': 1,
         'investor': 2,
         'advisor': 1,
         '@nickg_uk': 4,
         '@chouky02': 2,
         'care': 8,
         '@NakatomiTim': 1,
         'What': 20,
         'gave': 2,
         'away': 13,
         'Here': 9,
         'latest': 9,
         'travel': 7,
         'around': 16,
         'moon': 14,
         'into': 21,
         'deep': 9,
         'Maybe': 22,
         'needs': 13,
         'edits': 1,
         'Long': 7,
         'Neuralink': 1,
         'piece': 15,
         'coming': 29,
         '@waitbutwhy': 5,
         'about': 113,
         'week': 48,
         'Difficult': 1,
         'dedicate': 1,
         'existential': 2,
         'risk': 17,
         'high': 34,
         'research': 7,
         'release': 18,
         'overcoming': 2,
         'many': 30,
         'Reinforcement': 1,
         "Learning's": 1,
         'limitations': 1,
         'Evolution': 2,
         'Strategies': 1,
         '@erikhaaland': 1,
         'cannot': 4,
         'make': 37,
         'country': 12,
         'versions': 3,
         'simultaneously': 3,
         'production': 32,
         'start': 16,
         'would': 61,
         'disaster': 1,
         'Norway': 11,
         '@Isabelle_Kent': 1,
         '@D1sneyNut': 1,
         '@nickbaum': 1,
         'believe': 9,
         '@nddugan': 1,
         '@Mr_Ewe_Guy': 1,
         'faith': 4,
         '@kryniog': 1,
         'shorter': 1,
         'wheelbase': 1,
         'only': 39,
         'allows': 4,
         'pack': 16,
         'current': 5,
         'cell': 5,
         'module': 3,
         'energy': 28,
         'densities': 1,
         '@PokerVixen': 1,
         'unbelievably': 1,
         'happy': 11,
         'When': 13,
         'people': 54,
         'respond': 1,
         'love': 27,
         "it's": 23,
         'amazing': 16,
         '@RH_Way': 1,
         'guardrails': 1,
         'well': 23,
         'over': 47,
         '160km': 2,
         'Tessi': 1,
         'absorbed': 2,
         'impact': 8,
         'wife': 2,
         'baby': 7,
         'Best': 13,
         'ever': 36,
         'Member': 1,
         '@ToddGerkens': 1,
         'Yeah': 29,
         '@HolsMichael': 1,
         'Start': 1,
         'taking': 8,
         'orders': 10,
         'April': 7,
         '@dr_angus': 1,
         'probably': 21,
         'year': 50,
         'still': 27,
         'acceleration': 5,
         'though': 12,
         'having': 13,
         'larger': 3,
         'battery': 25,
         '@morrisonbrett': 1,
         'First': 23,
         'batch': 1,
         'Grey': 1,
         'Signature': 2,
         'P90D': 2,
         'Triple': 1,
         'White': 5,
         'vehicles': 7,
         '@akaWrecks': 1,
         '@ckalapala': 1,
         'Only': 14,
         'seven': 3,
         'seater': 1,
         'option': 7,
         'cargo': 8,
         'plus': 8,
         'range': 18,
         'accelera': 1,
         'goals': 1,
         '100D': 2,
         'both': 20,
         'Thank': 8,
         '@CamKode': 1,
         'produced': 5,
         'arguably': 5,
         'version': 14,
         'keep': 8,
         'drivin': 1,
         '@Herifin_teki': 1,
         'monster': 1,
         'best': 39,
         "I've": 13,
         'used': 16,
         'Elon': 18,
         '@BlueBowles': 1,
         'fate': 1,
         'side': 16,
         'Will': 78,
         'talk': 11,
         'detail': 2,
         'next': 70,
         '@juanmlemao': 2,
         'problem': 13,
         '@DJBurges': 1,
         'Should': 16,
         'Sorry': 9,
         'really': 41,
         'wish': 4,
         'done': 22,
         'sooner': 3,
         'truly': 2,
         'working': 20,
         'fast': 15,
         '@faultywarrior': 1,
         '@matt_trulli': 1,
         '@FredericLambert': 17,
         '@TimShelton': 2,
         '@JimPengelly': 4,
         'fetch': 1,
         'magic': 3,
         'wand': 1,
         '@RicardoTwumasi': 1,
         '@Shkottt': 1,
         'Roadster': 10,
         "i've": 1,
         'line': 10,
         'dual': 6,
         'motor': 7,
         'soon': 41,
         'which': 22,
         'months': 16,
         '@meangene2030': 1,
         'straight': 2,
         'Coming': 6,
         'drive': 22,
         'candidate': 2,
         'display': 1,
         '@danieltadros': 1,
         '@bobbykansara': 2,
         '@MrThorman': 2,
         'model': 7,
         '@VoltzCoreAudio': 2,
         'Nothing': 4,
         'majorly': 1,
         'consumer': 3,
         'notice': 1,
         'Lots': 3,
         'design': 20,
         'process': 4,
         'autonomous': 8,
         'less': 18,
         'dash': 1,
         'info': 3,
         'often': 5,
         'look': 22,
         'instrument': 2,
         'pane': 1,
         '@asimo3089': 1,
         'video': 37,
         'took': 14,
         'greatest': 2,
         'purchased': 1,
         'Period': 2,
         '@trabru': 1,
         'machine': 8,
         'arrives': 3,
         'month': 17,
         'digging': 4,
         'tunnel': 7,
         '@oakhaller': 1,
         'think': 33,
         'minimizing': 1,
         'configuration': 1,
         'complexity': 3,
         'ramp': 6,
         'schedul': 1,
         '@Trojan81': 1,
         'Tues': 8,
         '@jDaz': 1,
         'Because': 3,
         'dumb': 3,
         'idiot': 1,
         "didn't": 17,
         'realize': 3,
         'cause': 9,
         'confusion': 1,
         '@timothymjr': 1,
         '@Skate_a_book': 1,
         'always': 21,
         'fastest': 5,
         'years': 31,
         '@AlSaibie': 1,
         'Hardware': 2,
         'cars': 65,
         '@theKen_Miller': 1,
         'Sorta': 1,
         'series': 12,
         'Audi': 3,
         'faste': 1,
         '@Greg525': 1,
         '@varunfatehpuria': 1,
         'Kinda': 3,
         '@luciojr': 1,
         'built': 10,
         'since': 7,
         'last': 30,
         'capable': 4,
         'self-driving': 10,
         'software': 33,
         'improves': 5,
         '@swindeez': 1,
         'Definitely': 9,
         'called': 17,
         'obvious': 7,
         'humor': 3,
         'reasons': 4,
         'Ford': 2,
         'sued': 1,
         'block': 4,
         'Totally': 6,
         'different': 2,
         '@TimBeiko': 1,
         'smaller': 5,
         'affordable': 4,
         'power': 24,
         'fewer': 4,
         'features': 7,
         'advanced': 13,
         'technology': 13,
         'noticing': 1,
         'iPhone': 3,
         'true': 23,
         '@macwalterslives': 1,
         'Looking': 12,
         'forward': 11,
         'playing': 3,
         'game': 5,
         'kids': 20,
         '@aaronpaul_8': 4,
         "You're": 8,
         'welcome': 7,
         'Trying': 4,
         'least': 10,
         'Hope': 7,
         'useful': 5,
         '@nextspaceflight': 1,
         '@inversedotcom': 3,
         'because': 8,
         'building': 9,
         'spaceship': 15,
         'home': 18,
         'planet': 8,
         "doesn't": 13,
         'mean': 5,
         'alien': 4,
         '@lennart375': 1,
         'number': 7,
         'extinct': 1,
         'single': 8,
         'civilizations': 3,
         'exceeds': 2,
         'live': 29,
         'civs': 1,
         '@phirate': 1,
         'Probably': 12,
         'Either': 3,
         'great': 51,
         'filter': 1,
         'they': 34,
         'very': 25,
         'subtle': 2,
         '@Nites': 2,
         'hope': 6,
         'work': 30,
         'spawn': 1,
         'npc.alien': 1,
         'Where': 1,
         '@wouterhuijs': 1,
         '@x17online': 1,
         'Except': 2,
         "isn't": 16,
         'house': 3,
         '@karaswisher': 4,
         'Perhaps': 2,
         'there': 51,
         'future': 35,
         'bill': 5,
         'makes': 23,
         'difference': 5,
         'Mars': 54,
         'almost': 22,
         'nothing': 6,
         'what': 53,
         'NASA': 7,
         'doing': 23,
         'Existing': 1,
         'programs': 1,
         'stay': 3,
         'place': 7,
         '@ryanrossuk': 1,
         'customer': 8,
         'story': 16,
         'something': 21,
         'hero': 3,
         'mine': 3,
         'Never': 2,
         'give': 10,
         'thank': 9,
         'Recovery': 3,
         'teams': 4,
         'route': 4,
         "today's": 4,
         'Successful': 1,
         'deployment': 5,
         '@EchoStar': 1,
         'XXIII': 1,
         'Geosynchronous': 1,
         'Transfer': 1,
         'Orbit': 4,
         'confirmed': 8,
         'Back': 3,
         'final': 5,
         'burn': 12,
         'satellite': 15,
         'Liftoff': 7,
         '@CapnJesus': 1,
         '@Lurpatron': 1,
         '@MKBHD': 1,
         '@jakerawr': 1,
         'definitely': 11,
         '@kyleugh': 1,
         '@PriyancaFord': 1,
         'annoying': 1,
         'Finally': 1,
         'explanation': 3,
         'daylight': 2,
         'savings': 4,
         'sense': 14,
         '@AndreElijah': 1,
         '@BizbuilderUSA': 1,
         '@mcannonbrookes': 8,
         'been': 24,
         'bear': 2,
         'days': 22,
         'depending': 1,
         'autosteer': 3,
         'results': 5,
         '@Legit_bacon': 1,
         'know': 26,
         'cliche': 1,
         'LotR': 1,
         'favorite': 10,
         'book': 8,
         'Want': 3,
         '@5AllanLeVito': 1,
         '@VGroysman': 1,
         'Sure': 4,
         'check': 5,
         'prior': 6,
         'tweet': 8,
         'pricing': 4,
         'level': 10,
         'happen': 8,
         'your': 39,
         'support': 17,
         'closely': 1,
         'govt': 8,
         'utility': 5,
         'leaders': 1,
         'wanted': 6,
         'write': 3,
         'note': 6,
         'appreciation': 7,
         'Australians': 1,
         'came': 6,
         'plan': 10,
         'especially': 2,
         '@ah_pton16': 1,
         'Wikipedia': 1,
         'gets': 12,
         '@JMMZHerrera': 1,
         'Answer': 1,
         'complex': 9,
         'electric': 21,
         'motors': 2,
         'induction': 1,
         'thru': 9,
         'IGBT': 1,
         'inve': 2,
         '@williamwinters': 3,
         'High': 9,
         'voltage': 1,
         'sure': 24,
         'transmit': 1,
         'electricity': 7,
         'long': 29,
         'distances': 1,
         'explanat': 1,
         'Ironically': 1,
         'direct': 12,
         'right': 46,
         'approach': 4,
         'even': 20,
         'alternating': 1,
         'Solar': 8,
         'electronics': 1,
         'most': 37,
         'exciting': 8,
         'discuss': 1,
         'Renewables': 1,
         'storage': 7,
         'biggest': 6,
         'disr': 1,
         'spoke': 2,
         '@JayWeatherill': 1,
         'Premier': 1,
         'South': 3,
         'Australia': 3,
         'impressed': 1,
         'Govt': 1,
         'clearly': 4,
         'committ': 1,
         '@shails': 1,
         'shipping': 3,
         'taxes': 5,
         'tariffs': 1,
         'installation': 5,
         'labor': 3,
         'vary': 1,
         'those': 17,
         'costs': 4,
         'beyond': 8,
         'control': 15,
         '100MWh': 1,
         'moving': 5,
         'fixed': 6,
         'open': 16,
         'terms': 1,
         'products': 3,
         'system': 22,
         'installed': 3,
         'contract': 5,
         'signature': 2,
         'free': 14,
         'That': 29,
         'serious': 4,
         'enough': 19,
         '@Zedd': 2,
         'send': 8,
         '@SimonaKitzu': 1,
         'Self-hatred': 1,
         'Project': 3,
         'Loveday': 1,
         'lovely': 2,
         'letter': 6,
         'sounds': 7,
         'idea': 12,
         "We'll": 1,
         'without': 14,
         "Can't": 10,
         'express': 1,
         '@jamesatbuzz': 1,
         'works': 13,
         'announcement': 18,
         'tomorrow': 23,
         '@MacTechGenius': 11,
         'course': 16,
         '@DueDiamond': 1,
         'Roller': 1,
         'coasters': 1,
         'awesome': 23,
         '@johnpaulbrewer': 1,
         'Something': 6,
         'tristate': 1,
         'border': 1,
         'might': 12,
         'Gigafactory': 14,
         'nearby': 2,
         'supporting': 3,
         'supply': 4,
         'chain': 1,
         'large': 7,
         'workforce': 1,
         '@donbarbieri': 1,
         '@GreenCarReports': 2,
         'chance': 11,
         '@davidshepardson': 1,
         '@ATT': 1,
         '@ToysRUs': 1,
         '@meganmurp': 1,
         '@ChrisFaile': 1,
         'pose': 1,
         'hopefully': 11,
         'want': 23,
         'cover': 11,
         'Tunnel': 1,
         'boring': 2,
         '@adrianvolts': 2,
         'Minor': 1,
         'improvements': 7,
         'weekend': 14,
         'Excellent': 6,
         'review': 17,
         'posted': 5,
         'Baby': 2,
         '@mattnewby': 1,
         '@NASA': 48,
         'Right': 5,
         'schedule': 2,
         'solar': 47,
         'arrays': 3,
         '#Dragon': 26,
         'spacecraft': 14,
         '@Xuan_Thai': 1,
         'System': 7,
         'green': 5,
         '@spacecom': 1,
         'They': 14,
         'case': 10,
         'retired': 3,
         'feel': 6,
         'confident': 4,
         '2018': 4,
         '@zperrin99': 1,
         'Uses': 1,
         'pressure': 12,
         'bleed': 1,
         'fuel': 10,
         'kerosene': 2,
         'turbopump': 3,
         'dedicated': 2,
         'pump': 2,
         'fluid': 5,
         'needed': 27,
         'likely': 13,
         'fine': 11,
         'closed': 5,
         'loop': 3,
         'overcome': 1,
         'error': 1,
         'rolling': 5,
         'dice': 1,
         'Better': 4,
         'wait': 6,
         '@Zybbby': 1,
         'obviously': 3,
         'related': 2,
         'tiny': 5,
         'helium': 6,
         'leak': 2,
         'also': 32,
         'issue': 7,
         'symptomatic': 1,
         'significant': 5,
         'upstream': 1,
         'root': 1,
         'except': 3,
         'movement': 1,
         'trace': 1,
         'engine': 20,
         'steering': 6,
         'hydraulic': 5,
         'piston': 2,
         'slightly': 6,
         'Standing': 1,
         'down': 37,
         'investigate': 6,
         'hour': 7,
         '@Space_Station': 19,
         'Rocket': 24,
         '10:01': 2,
         '15:01': 1,
         'Counting': 1,
         'Apollo': 3,
         'morning': 13,
         'webcast': 12,
         'Hear': 2,

In [ ]:
# Your code here

---

## Data visualization

The `pandas` methods provide integration with the plotting functionalities provided by the `matplotlib` library.

This seamless integration – which is very nice! – hides away from users some of the complexities of `matplotlib`.

However, as there cases where advanced customizations are needed, it's useful to learn the high-level plotting functionalities of `pandas` or `seaborn` as well as being aware of how to perform more advanced customizations by means of `matplotlib`.

Very useful [`matplotlib` cheatsheet](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Python_Matplotlib_Cheat_Sheet.pdf).

And more information on `Seaborn` here: https://seaborn.pydata.org/

In [44]:
import numpy as np
import matplotlib.pyplot as plt

In [45]:
import seaborn as sns

# Use seaborn style defaults and set the default figure size
sns.set(rc={'figure.figsize':(11, 5)})

Let's plot the number of tweets mentioning one of the top 10 tokens over time.

In [46]:
df_elon.head(5)

,id,created_at,text,clean_text
0,849636868052275200,2017-04-05 14:56:29,And so the robots spared humanity ... https://...,robots spared humanity
1,848988730585096192,2017-04-03 20:01:01,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...
2,848943072423497728,2017-04-03 16:59:35,"@waltmossberg @mims @defcon_5 Et tu, Walt?",@waltmossberg @mims @defcon_5 Walt
3,848935705057280001,2017-04-03 16:30:19,Stormy weather in Shortville ...,Stormy weather Shortville
4,848416049573658624,2017-04-02 06:05:23,@DaveLeeBBC @verge Coal is dying due to nat ga...,@DaveLeeBBC @verge Coal dying fracking It's ba...

Right now, the `created_at` column is of type string. Let's convert it to a datetime datatype that can be interpreted as object by Pandas and Python.

In [47]:
# Convert the created_at column to datetime

df_elon['created_at'] = pd.to_datetime(df_elon['created_at'])

In [48]:
df_elon.head(5)

,id,created_at,text,clean_text
0,849636868052275200,2017-04-05 14:56:29,And so the robots spared humanity ... https://...,robots spared humanity
1,848988730585096192,2017-04-03 20:01:01,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...
2,848943072423497728,2017-04-03 16:59:35,"@waltmossberg @mims @defcon_5 Et tu, Walt?",@waltmossberg @mims @defcon_5 Walt
3,848935705057280001,2017-04-03 16:30:19,Stormy weather in Shortville ...,Stormy weather Shortville
4,848416049573658624,2017-04-02 06:05:23,@DaveLeeBBC @verge Coal is dying due to nat ga...,@DaveLeeBBC @verge Coal dying fracking It's ba...

Visually, nothing has changed. But, since the element in the `created_at` column is now a datetime object, we can ask for separate bits of this datetimestamp, such as the year only:

In [49]:
# Make a new column with only the year

df_elon["year"] = df_elon['created_at'].dt.year

In [50]:
df_elon.head()

,id,created_at,text,clean_text,year
0,849636868052275200,2017-04-05 14:56:29,And so the robots spared humanity ... https://...,robots spared humanity,2017
1,848988730585096192,2017-04-03 20:01:01,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...,2017
2,848943072423497728,2017-04-03 16:59:35,"@waltmossberg @mims @defcon_5 Et tu, Walt?",@waltmossberg @mims @defcon_5 Walt,2017
3,848935705057280001,2017-04-03 16:30:19,Stormy weather in Shortville ...,Stormy weather Shortville,2017
4,848416049573658624,2017-04-02 06:05:23,@DaveLeeBBC @verge Coal is dying due to nat ga...,@DaveLeeBBC @verge Coal dying fracking It's ba...,2017

Now, make another column that either contains the frequency of the token 'Tesla' in the tweet.

You can do this by using pure Python:

In [51]:
tesla_in_tweet = []

for tweet in df_elon['clean_text']:
    tesla_in_tweet.append(tweet.count('Tesla'))
        
df_elon['tesla_in_tweet'] = tesla_in_tweet

... and the variant with a list comprehension:

In [52]:
tesla_in_tweet = [tweet.count('Tesla') for tweet in df_elon['clean_text']]
df_elon['tesla_in_tweet'] = tesla_in_tweet

Or, by using a built-in Pandas method:

In [53]:
df_elon['tesla_in_tweet'] = df_elon['clean_text'].str.count('Tesla')

The result is yet an extra column:

In [54]:
df_elon.head(5)

,id,created_at,text,clean_text,year,tesla_in_tweet
0,849636868052275200,2017-04-05 14:56:29,And so the robots spared humanity ... https://...,robots spared humanity,2017,0
1,848988730585096192,2017-04-03 20:01:01,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...,@ForIn2020 @waltmossberg @mims @defcon_5 Exact...,2017,1
2,848943072423497728,2017-04-03 16:59:35,"@waltmossberg @mims @defcon_5 Et tu, Walt?",@waltmossberg @mims @defcon_5 Walt,2017,0
3,848935705057280001,2017-04-03 16:30:19,Stormy weather in Shortville ...,Stormy weather Shortville,2017,0
4,848416049573658624,2017-04-02 06:05:23,@DaveLeeBBC @verge Coal is dying due to nat ga...,@DaveLeeBBC @verge Coal dying fracking It's ba...,2017,0

Then, let's plot this as a bar plot. What we do:
1. Group everything by the value in the 'year' column
2. Select only the 'tesla_in_tweet' column
3. Sum the values (this is done per group [=per year])

Inspect the result

4. Call `.plot(kind='bar')` on the Series.

What is returned is automatically displayed by Jupyter notebooks

In [55]:
tesla_per_year = df_elon.groupby('year')['tesla_in_tweet'].sum()
tesla_per_year

year
2010      0
2011      1
2012     44
2013    115
2014     53
2015     67
2016    212
2017     38
Name: tesla_in_tweet, dtype: int64

In [ ]:
tesla_per_year.plot(kind='bar')

Alternatively, you can give this Series to Seaborn:

In [ ]:
sns.barplot(x=tesla_per_year.index, y=tesla_per_year.values, color="skyblue")

Some extra styling, a title and a y-axis label. You can even save the result, for instance as .pdf.

In [ ]:
sns.barplot(x=tesla_per_year.index, y=tesla_per_year.values, color="skyblue")

plt.xlabel("Year", fontsize=14)
plt.ylabel("Count", fontsize=14)
plt.title("Number of tweets mentioning Tesla", fontsize=14)
plt.tight_layout()

plt.savefig("stuff/elon_plot.pdf")

**Another question:** how many tweets are there per month over time? 

We need to change the index and group. Let's make the datetimestamp the index of our DataFrame.

In [ ]:
df_elon = df_elon.set_index('created_at')

In [ ]:
df_elon.head(5)

Pandas has a `Grouper` method that for instance allows you to easily work with datetimestamps. See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html for some examples. 

We use it to group per month which we do by specifying `freq='M'`. In steps:
1. First, we group by the month using the `pd.Grouper(freq='M'))` method
2. Then we count the number of rows per month using `.count()`
3. Since we are only interested in the count, we can select any row, for instance 'id'

In [ ]:
tweets_per_month = df_elon.groupby(pd.Grouper(freq='M')).count()['id']
tweets_per_month

In [ ]:
tweets_per_month.plot()

**Remark**: there is much more to this than plotting. Take a loot at the [Seaborn](https://seaborn.pydata.org/examples/index.html) or [Matplotlib](https://matplotlib.org/gallery.html) galleries for some compelling examples.

---

### Anatomy of a plot (optional)

In [ ]:
# First we create the figure, which is the 
# container where all plots reside

fig = plt.figure(figsize=(10, 10))

ax1 = fig.add_subplot(2, 2, 1)
plt.plot(np.random.randn(50).cumsum(), 'k--')

ax2 = fig.add_subplot(2, 2, 2)
ax3 = fig.add_subplot(2, 2, 3)
ax4 = fig.add_subplot(2, 2, 4)
plt.show()

Each plot resides within a `Figure` object.

Each subsplot resides within an `AxesSubplot` object.

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=2)
axes[0,1].plot(np.random.randn(50), 'r--')
axes[0,1].plot(np.random.randn(50), 'b--')
axes[1,1].plot(np.random.randn(50), 'k--')
axes[1,0].plot(np.random.randn(50), '.')
axes[0,0].plot(np.random.randn(50), 'y-')
fig.set_size_inches(10, 10)

---

### Exercise 1.

With these tweets:
* Plot the top n words together in a single figure, and show their trends over time.
* Do the same for the top n users mentioned.

In [ ]:
# Your code here

---